# Basic operation with the help of data structure of ML (list,dict,tuple,set)


LIST Operations

In [1]:
l=[]

In [2]:
l.append(79)

In [3]:
l

[79]

In [4]:
l.append("Latest version of jupyter")

In [5]:
l.append(50)

In [6]:
l.append(60)

In [7]:
l.append(['swati'])

In [8]:
l.append({30,20,10,1,'chauhan'})

In [9]:
l

[79,
 'Latest version of jupyter',
 50,
 60,
 ['swati'],
 {1, 10, 20, 30, 'chauhan'}]

In [10]:
l.reverse()

In [11]:
l

[{1, 10, 20, 30, 'chauhan'},
 ['swati'],
 60,
 50,
 'Latest version of jupyter',
 79]

In [12]:
ano_list=l.copy()

In [13]:
ano_list

[{1, 10, 20, 30, 'chauhan'},
 ['swati'],
 60,
 50,
 'Latest version of jupyter',
 79]

In [14]:
l.index(79)

5

In [15]:
l.insert(1,'jack')

In [16]:
l

[{1, 10, 20, 30, 'chauhan'},
 'jack',
 ['swati'],
 60,
 50,
 'Latest version of jupyter',
 79]

In [17]:
l.pop()

79

In [18]:
l

[{1, 10, 20, 30, 'chauhan'},
 'jack',
 ['swati'],
 60,
 50,
 'Latest version of jupyter']

In [19]:
l.insert(5,'20')

In [20]:
l

[{1, 10, 20, 30, 'chauhan'},
 'jack',
 ['swati'],
 60,
 50,
 '20',
 'Latest version of jupyter']

In [21]:
l2=['b.tech',40,30,'CSE',70,40,30]

In [22]:
l+l2

[{1, 10, 20, 30, 'chauhan'},
 'jack',
 ['swati'],
 60,
 50,
 '20',
 'Latest version of jupyter',
 'b.tech',
 40,
 30,
 'CSE',
 70,
 40,
 30]

In [23]:
l.extend(l2)

In [24]:
l

[{1, 10, 20, 30, 'chauhan'},
 'jack',
 ['swati'],
 60,
 50,
 '20',
 'Latest version of jupyter',
 'b.tech',
 40,
 30,
 'CSE',
 70,
 40,
 30]

sum(), count(),len(), index(), min() and max() functions of List

Sum()-on ineteger numbers
count():Calculates total occurrence of given element of List.

In [25]:
l2.count(30)

2

In [26]:
len(l)

14

In [27]:
len(l2)

7

Index(element, start, end) : It will calculate till index end-1.

In [28]:
l.index(40)

8

In [29]:
l.index(40,2,10)

8

In [30]:
l[8]

40

In [31]:
l[::-1]

[30,
 40,
 70,
 'CSE',
 30,
 40,
 'b.tech',
 'Latest version of jupyter',
 '20',
 50,
 60,
 ['swati'],
 'jack',
 {1, 10, 20, 30, 'chauhan'}]

In [33]:
for i in range(len(l)):
    if l[i]==40:
        l.remove(40)

In [34]:
l

[{1, 10, 20, 30, 'chauhan'},
 'jack',
 ['swati'],
 60,
 50,
 '20',
 'Latest version of jupyter',
 'b.tech',
 30,
 'CSE',
 70,
 30]

Accsessing Elements :

In [35]:
l[0]

{1, 10, 20, 30, 'chauhan'}

In [36]:
#l[1][2:]
l[1][:]

'jack'


Accessing elements using a range within list

In [37]:
#l[-3]
l[-4]

30

In [38]:
l[3:]
l[:5]
l[:]
l[:-5]

[{1, 10, 20, 30, 'chauhan'},
 'jack',
 ['swati'],
 60,
 50,
 '20',
 'Latest version of jupyter']

In [39]:
l2.clear()

In [40]:
l2

[]

In [41]:
l1=[]

Quesries with the help of different lists
* Associatve Array

In [42]:
l1.append('swati')

In [43]:
l1.append('jack')

In [44]:
l1.append('sam')

In [45]:
l1.append('suchi')

In [46]:
l1.append('ruhi')

In [47]:
l1.append('juhi')

In [48]:
l1

['swati', 'jack', 'sam', 'suchi', 'ruhi', 'juhi']

In [74]:
l3=[]

In [75]:
l3.append(27)

In [76]:
l3.append(20)

In [77]:
l3.append(28
         )

In [78]:
l3.append(25)

In [79]:
l3.append(20)

In [80]:
l3.append(21)

In [81]:
l3

[27, 20, 28, 25, 20, 21]

Want to find out the age of ruhi

In [57]:
l1.index('ruhi')

4

In [58]:
l3[4]

20

Different Methods to combine the list of itmes into dictionary keys and values 
1. Naive Method
2. Using dictionary comprehension
The more concise way to achieve the above method, dictionary comprehension method offers the faster and time-saving approach by reducing the lines to type.
3. Using zip()

In [59]:
 #1:
d= {} 
for key in l1: 
    for value in l3: 
        d[key] = value 
        l3.remove(value) 
        break  
        
print ("Resultant dictionary is : "+ str(d))

Resultant dictionary is : {'swati': 27, 'jack': 20, 'sam': 28, 'suchi': 25, 'ruhi': 20, 'juhi': 21}

In [73]:
#2:
# using dictionary comprehension 
# to convert lists to dictionary 
d1 = {l1[i]: l3[i] for i in range(len(l1))} 
print ("Resultant dictionary is : " +  str(d1))

IndexError: list index out of range

In [61]:
#3:
# using zip() 
# to convert lists to dictionary 
d = dict(zip(l1,l3)) 
print ("Resultant dictionary is : " +  str(d))

Resultant dictionary is : {}

Dictionary: Operations

In [62]:
d=dict()

In [63]:
d

{}

In [64]:
d['swati']=25

In [65]:
d

{'swati': 25}

# Combining two lists into dictionary then add more information for each key

In [66]:
l1

['swati', 'jack', 'sam', 'suchi', 'ruhi', 'juhi']

In [82]:
l3

[27, 20, 28, 25, 20, 21]

In [83]:
d1 = {l1[i]: l3[i] for i in range(len(l1))} 
print ("Resultant dictionary is : " +  str(d1))

Resultant dictionary is : {'swati': 27, 'jack': 20, 'sam': 28, 'suchi': 25, 'ruhi': 20, 'juhi': 21}

In [84]:
d1['swati']=dict()

In [85]:
d2=d1['swati']

In [86]:
d2['age']=27

In [87]:
d2['qualification']='b.tech'

In [88]:
d2['projects']=5

In [89]:
d2

{'age': 27, 'qualification': 'b.tech', 'projects': 5}

In [90]:
d1

{'swati': {'age': 27, 'qualification': 'b.tech', 'projects': 5},
 'jack': 20,
 'sam': 28,
 'suchi': 25,
 'ruhi': 20,
 'juhi': 21}

In [91]:
d1['jack']=dict()

In [92]:
d3=d1['jack']

In [93]:
d3['age']=20

In [94]:
d3['qualification']='mca'

In [95]:
d3['projects']=10

In [96]:
d3

{'age': 20, 'qualification': 'mca', 'projects': 10}

In [97]:
d1

{'swati': {'age': 27, 'qualification': 'b.tech', 'projects': 5},
 'jack': {'age': 20, 'qualification': 'mca', 'projects': 10},
 'sam': 28,
 'suchi': 25,
 'ruhi': 20,
 'juhi': 21}

To access elements from this structure :

*let we want to find out the qualification of jack and age of swati

In [98]:
#d2['age']
#   or
d1['swati']['age']

27

In [99]:
#d3['qualification']
#  or
d1['jack']['qualification']

'mca'

Basic operations of dictionary :

clear()	     Removes all the elements from the dictionary

copy()	     Returns a copy of the dictionary

fromkeys()	 Returns a dictionary with the specified keys and value

get()	     Returns the value of the specified key

items()	     Returns a list containing a tuple for each key value pair

keys()	     Returns a list containing the dictionary's keys

pop()	     Removes the element with the specified key

popitem()	 Removes the last inserted key-value pair

setdefault() Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

update()	 Updates the dictionary with the specified key-value pairs

values()	 Returns a list of all the values in the dictionary

In [100]:
# Creating a Dictionary 
# with dict() method 
D1= dict({1: 'Geeks', 2: 'For', 3:'Geeks'}) 
D1

{1: 'Geeks', 2: 'For', 3: 'Geeks'}

# Assignment-3, Create a dictionary with 10 elements without manual entry and then reverse the items (key<-> value)

In [119]:
l1=[]
for i in range(10):
    l1.append(input("Enter the elements: "))

Enter the elements: swati
Enter the elements: reshu
Enter the elements: tanu
Enter the elements: jack
Enter the elements: jas
Enter the elements: ruhi
Enter the elements: pihu
Enter the elements: ranu
Enter the elements: sanu
Enter the elements: jini

In [120]:
print(l1)

['swati ', 'reshu', 'tanu', 'jack', 'jas', 'ruhi', 'pihu', 'ranu', 'sanu', 'jini']

In [121]:
d= {} 
for i in l1: 
    d[i] =input("enter the values")

enter the values1
enter the values2
enter the values3
enter the values4
enter the values5
enter the values6
enter the values7
enter the values8
enter the values9
enter the values10

In [122]:
d

{'swati ': '1',
 'reshu': '2',
 'tanu': '3',
 'jack': '4',
 'jas': '5',
 'ruhi': '6',
 'pihu': '7',
 'ranu': '8',
 'sanu': '9',
 'jini': '10'}

In [123]:
d1={i:j for j,i in d.items()}

In [124]:
d1

{'1': 'swati ',
 '2': 'reshu',
 '3': 'tanu',
 '4': 'jack',
 '5': 'jas',
 '6': 'ruhi',
 '7': 'pihu',
 '8': 'ranu',
 '9': 'sanu',
 '10': 'jini'}